<!doctype html>
<html dir="{{ .Site.Language.LanguageDirection }}">
  <head>
    <meta charset="utf-8">
    <title>
      {{ block "title" .}} {{ T "debian" }} – {{ .Title }} {{ end }}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="author" href="mailto:webmaster@debian.org">
    {{ with resources.Get "css/base.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }} {{ with resources.Get "css/navbar.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }} {{- block "head" . }}{{- end }}
  </head>
  <body>
    {{- partial "header.html" . -}}
    <main>{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}}
  </body>
</html>
