{{ define "head" }} {{ with resources.Get "css/single.css" | postCSS }}
<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end }} {{ end }} {{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  {{ if .Params.toc }}
  <aside class="toc">
    <h2>On this page</h2>
    {{ .TableOfContents }}
  </aside>
  {{ end }}
  <div class="content">{{ .Content }}</div>
</article>
{{ end }}
