<footer>
  {{ if .IsTranslated }}
  <div class="translations">
    {{ T "translations" }}
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  {{ T "license_notice" | safeHTML }}
</footer>
