<header>
  <nav class="navbar">
    <a dir="ltr" class="navbar-brand" href="{{ relURL "" }}">
      <img class="navbar-logo" src="{{ relURL "openlogo-nd.svg" }}" alt="" />
      <span class="navbar-title">
        <span class="sr-only">{{ T "debian" }}</span>
        <img src="{{ relURL "openlogo-title.svg" }}" alt="{{ T "debian" }}" />
      </span>
    </a>
    <div tabindex="0" class="navbar-links-wrapper">
      <button class="navbar-menu-show" aria-label="Show navigation menu"></button>
      <ul class="navbar-links">
        <li>
          <a class="active" href="{{ relURL "" }}">{{ T "home" }}</a>
        </li>
        <li>
          <a href="https://packages.debian.org">{{ T "packages" }}</a>
        </li>
        <li>
          <a href="https://wiki.debian.org">{{ T "wiki" }}</a>
        </li>
        <li>
          <a href="https://salsa.debian.org">{{ T "salsa" }}</a>
        </li>
        <li>
          <a href="{{ relURL "security" }}">{{ T "security" }}</a>
        </li>
        <li>
          <a href="{{ relURL "download" }}">{{ T "download" }}</a>
        </li>
      </ul>
    </div>
    <button class="navbar-menu-hide" aria-label="Hide navigation menu"></button>
  </nav>
</header>
