{{ define "title" }}
  {{ T "debian" }} –
  {{ T "debian_slogan" }}
{{ end }}
{{ define "head" }}
  {{ with resources.Get "css/home.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" />
  {{ end }}
  {{ with resources.Get "js/home.js" }}
    <script src="{{ .RelPermalink }}" defer></script>
  {{ end }}
{{ end }}
{{ define "main" }}
  <article>
    <div class="splash">
      <h1 class="splash-heading">
        {{ T "debian" }} {{ 12 | lang.FormatNumber 0 }}
        <span class="splash-codename">&ldquo;bookworm&rdquo;</span>
      </h1>      
      <span class="splash-subheading">{{ T "debian_slogan" }}</span>
    </div>
    <div class="container">
      <section class="box">
        <h2 class="heading">{{ T "operating_system" }}</h2>
        <span class="subheading">{{ T "operating_system_subheading" }}</span>
        <ul class="box-links">
          <li>
            <a class="box-link download-link" href="{{ relURL "download" }}">
              <span class="box-link-title">{{ T "download" }}</span>
              &ndash; {{ T "download_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="https://www.debian.org/releases/stable/amd64/">
              <span class="box-link-title">{{ T "installation_guide" }}</span>
              &ndash; {{ T "installation_guide_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{ relURL "support" }}">
              <span class="box-link-title">{{ T "user_support" }}</span>
              &ndash; {{ T "user_support_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{ relURL "security" }}">
              <span class="box-link-title">{{ T "security" }}</span>
              &ndash; {{ T "security_caption" }}
            </a>
          </li>
        </ul>
      </section>
      <section class="box">
        <h2 class="heading">{{ T "community" }}</h2>
        <span class="subheading">{{ T "community_subheading" }}</span>
        <ul class="box-links">
          <li>
            <a class="box-link" href="{{ relURL "intro/people" }}">
              <span class="box-link-title">{{ T "people" }}</span>
              &ndash; {{ T "people_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{ relURL "intro/philosophy" }}">
              <span class="box-link-title">{{ T "philosophy" }}</span>
              &ndash; {{ T "philosophy_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{ relURL "devel/join" }}">
              <span class="box-link-title">{{ T "contribute" }}</span>
              &ndash; {{ T "contribute_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{ relURL "donate" }}">
              <span class="box-link-title">{{ T "donate" }}</span>
              &ndash; {{ T "donate_caption" }}
            </a>
          </li>
        </ul>
      </section>
      <div class="box slider">
        <input id="slide1" checked="" type="radio" name="slider">
        <input id="slide2" type="radio" name="slider">
        <input id="slide3" type="radio" name="slider">
        <input id="slide4" type="radio" name="slider">
        <input id="slide5" type="radio" name="slider">
        <div class="slider-wrapper">
          <div class="slider-inner">
            <article>
              <figure>
                <img src="{{ relURL "images/debconf23_group_photo.jpg" }}" alt="{{ T "debconf23_alt" }}" />
                <figcaption class="bottom">{{ T "debconf23_caption" }}</figcaption>
              </figure>
            </article>
            <article>
              <figure>
                <img src="{{ relURL "images/mini-dc23-hamburg.jpg" }}" alt="{{ T "dc23_hamburg_alt" }}" />
                <figcaption class="top">{{ T "dc23_hamburg_caption" }}</figcaption>
              </figure>
            </article>
            <article>
              <figure>
                <img src="{{ relURL "images/mini-dc23-brasilia.jpg" }}" alt="{{ T "dc23_brasilia_alt" }}" />
                <figcaption class="top">{{ T "dc23_brasilia_caption" }}</figcaption>
              </figure>
            </article>
            <article>
              <figure>
                <img src="{{ relURL "images/calamares-bookworm.png" }}" alt="{{ T "calamares_alt" }}" />
                <figcaption class="top">{{ T "calamares_caption" }}</figcaption>
              </figure>
            </article>
            <article>
              <figure>
                <img src="{{ relURL "images/debian-funny-people.jpg" }}" alt="{{ T "funny_alt" }}" />
                <figcaption class="bottom">{{ T "funny_caption" }}</figcaption>
              </figure>
            </article>
          </div>
        </div>
        <div class="slider-control">
          <label for="slide1" aria-label="Go to slide 1"></label>
          <label for="slide2" aria-label="Go to slide 2"></label>
          <label for="slide3" aria-label="Go to slide 3"></label>
          <label for="slide4" aria-label="Go to slide 4"></label>
          <label for="slide5" aria-label="Go to slide 5"></label>
        </div>
        <div class="slider-dot-control">
          <label for="slide1" aria-label="Go to slide 1"></label>
          <label for="slide2" aria-label="Go to slide 2"></label>
          <label for="slide3" aria-label="Go to slide 3"></label>
          <label for="slide4" aria-label="Go to slide 4"></label>
          <label for="slide5" aria-label="Go to slide 5"></label>
        </div>
      </div>
      <section class="box">
        <h2 class="heading">{{ T "explore" }}</h2>
        <span class="subheading">{{ T "explore_subheading" }}</span>
        <ul class="box-links">
          <li>
            <a class="box-link" href="https://bits.debian.org/">
              <span class="box-link-title">{{ T "blog" }}</span>
              &ndash; {{ T "blog_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="https://micronews.debian.org/">
              <span class="box-link-title">{{ T "micronews" }}</span>
              &ndash; {{ T "micronews_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="https://planet.debian.org/">
              <span class="box-link-title">{{ T "planet_debian" }}</span>
              &ndash; {{ T "planet_debian_caption" }}
            </a>
          </li>
          <li>
            <a class="box-link" href="https://forums.debian.net/">
              <span class="box-link-title">{{ T "forums" }}</span>
              &ndash; {{ T "forums_caption" }}
            </a>
          </li>
        </ul>
      </section>
      <section class="news">
        <h2 class="heading">{{ T "project_news" }}</h2>
        <span class="subheading">{{ T "project_news_subheading" }}</span>
        <ul class="news-items">
          {{ $pages := where .Site.RegularPages "Section" "news" }}
          {{ range .Site.Home.Translations }}
            {{ $pages = $pages | lang.Merge (where .Site.RegularPages "Section" "news") }}
            {{ range $pages }}
              <li>
                  <article class="news-item">
                    <div class="news-item-meta">
                      <a class="news-item-link" href="{{ .RelPermalink }}">
                        <h3>{{ .LinkTitle }}</h3>
                      </a>
                      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
                    </div>
                    <p class="news-item-summary">
                      {{ .Summary }}{{ if .Truncated }}&hellip;{{ end }}
                    </p>
                  </article>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </section>
  </article>
{{ end }}
